<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Villim</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>133e2c4df8b5edde7dd7f4a6a4e8adbb6cfba09d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>photo_use</string>
	<key>UIAppFonts</key>
	<array>
		<string>BMDOHYEON.ttf</string>
		<string>NotoSansCJKkr-Bold.otf</string>
		<string>NotoSansCJKkr-DemiLight.otf</string>
		<string>NotoSansCJKkr-Medium.otf</string>
		<string>NotoSansCJKkr-Regular.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icon_my_room</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>my_room</string>
			<key>UIApplicationShortcutItemType</key>
			<string>room</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icon_visit_list</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>visit_list</string>
			<key>UIApplicationShortcutItemType</key>
			<string>visit</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icon_discover</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>discover</string>
			<key>UIApplicationShortcutItemType</key>
			<string>discover</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
